<a href="https://colab.research.google.com/github/buddhini81/learning-python/blob/main/DictionaryExercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dictionaries

In [ ]:
# Here is your raw data
student_scores = [
    ("Alice", 88),
    ("Bob", 92),
    ("Charlie", 78),
    ("David", 95)
]


student_grades = {}

for item in student_scores:
  name, score = item
  student_grades[name] = score

student_grades

print("Charlie's score is ", student_grades['Charlie'])

Charlie's score is  78

In [ ]:
# Here is your raw data
sold_items = ["apple", "banana", "apple", "orange", "banana", "apple"]
item_prices = {"apple": 0.50, "banana": 0.75, "orange": 0.60}

item_counts = {}

for item in sold_items:
  missing_value = item_counts.get(item, 'N/A')
  if missing_value == 'N/A':
    item_counts[item] = 1
  else:
    count = item_counts[item]
    item_counts[item] = count + 1

daily_revenue = {}

for item in item_prices:
  amount = item_counts[item]
  price = item_prices[item]
  missing_value = daily_revenue.get(item, 'N/A')
  if missing_value == 'N/A':
    daily_revenue[item] = amount * price
  else:
    total = daily_revenue[item] + (amount * price)
    daily_revenue[item] = total

print(daily_revenue)

{'apple': 1.5, 'banana': 1.5, 'orange': 0.6}

In [ ]:
# Here is your raw data
student_grades = {
    "Alice": [85, 90, 78],
    "Bob": [65, 75, 68],
    "Charlie": [92, 88, 95],
    "David": [55, 60, 62]
}

student_results = {}

for item in student_grades:
  marks_list = student_grades[item]
  average = sum(marks_list)/len(marks_list)
  if average >= 70:
    student_results[item] = (average, "Passed")
  else:
    student_results[item] = (average, "Failed")

student_results

{'Alice': (84.33333333333333, 'Passed'),
 'Bob': (69.33333333333333, 'Failed'),
 'Charlie': (91.66666666666667, 'Passed'),
 'David': (59.0, 'Failed')}

In [ ]:
# Here is your raw data
product_prices = {
    "apple": 1.00,
    "banana": 0.50,
    "orange": 0.75,
    "milk": 2.50
}

orders = {
    "order_101": {"apple": 5, "banana": 2},
    "order_102": {"orange": 3, "milk": 1},
    "order_103": {"apple": 10, "orange": 5}
}

total_revenue = 0


for order in orders:
  items_in_order = orders[order]
  for item in items_in_order:
    quantity = items_in_order[item]
    price = product_prices[item]
    total_revenue =  total_revenue + (quantity * price)

total_revenue

24.5