<a href="https://colab.research.google.com/github/buddhini81/learning-python/blob/main/UsingPandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import pandas as pd
import numpy as np

#Create a DataFrame named df_people from the following dictionary:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, np.nan, 22, 28],
        'City': ['NY', 'LA', 'NY', 'SF', 'LA'],
        'Salary': [70000, 85000, 60000, 95000, 78000]}

df_people = pd.DataFrame(data)
df_people

#Display the first 3 rows of df_people
df_people.head(3)

#Print the data types of all columns.
df_people.dtypes

#Get a summary of the numerical columns (count, mean, min, max, etc.).
df_people.describe()

#Select and display only the 'Name' and 'Salary' columns.
df_people[["Name","Salary"]]

#Retrieve the 'Age' and 'City' columns for the rows where the 'City' is 'NY'
ny_data = df_people.loc[df_people['City'] == 'NY', ['Age', 'City']]
ny_data

#Retrieve the last two rows and the first two columns of df_people.
slice_data = df_people.iloc[-2:, :2]
slice_data

#Filter the DataFrame to select individuals who are older than 25 AND have a 'Salary' greater than 75000.
filtered_data = df_people[(df_people['Age'] > 25) & (df_people['Salary'] > 75000)]
filtered_data

#Calculate the mean of the 'Age' column (which should ignore the NaN).
mean_age = df_people['Age'].mean()
print(mean_age)

#Fill the missing 'Age' value (the np.nan) with the mean age you just calculated. (Modify df_people in place or create a new DataFrame).
df_people['Age'] = df_people['Age'].fillna(mean_age)
df_people

#Create a new column called Tax_Rate. Assign a tax rate of 0.10 if the 'City' is 'NY' and 0.05 otherwise. (Use np.where or a lambda function with .apply()).
df_people['Tax_Rate'] = np.where(df_people['City'] == 'NY', 0.10, 0.05)
df_people

#Create a column called Net_Salary by subtracting the calculated tax (Salary * Tax_Rate) from the original Salary.
df_people['Net_Salary'] = df_people['Salary'].subtract(df_people['Salary'] * df_people['Tax_Rate'])
df_people

#Group the data by 'City' and calculate the average Salary for each city.
avg_salary_by_city = df_people.groupby('City')['Salary'].mean()
avg_salary_by_city

#Group the data by 'City' and calculate the minimum, maximum, and count of individuals in each city, all in a single output.
multi_agg = df_people.groupby('City')['Salary'].agg(['min', 'max', 'count'])
multi_agg

#Create a new column called Age_Group with categories: 'Young' (Age â‰¤25) and 'Mature' (Age >25).
df_people["Age_Group"] = np.where(df_people['Age'] <= 25,'Young','Mature')
df_people

#Group the data by Age_Group and find the total sum of Net_Salary for each group.
net_salary_by_age_group = df_people.groupby('Age_Group')['Net_Salary'].sum()
net_salary_by_age_group

df_projects = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Eve', 'Frank'],
    'Project': ['Alpha', 'Beta', 'Gamma', 'Delta']
})

#Merge df_people with df_projects using an inner join on the 'Name' column. How many rows are in the result?
df_inner_join = pd.merge(df_people, df_projects, on='Name', how='inner')
df_inner_join

#Merge df_people with df_projects using a left join on the 'Name' column. What is the Project value for the person who doesn't have an entry in df_projects?
df_left_join = pd.merge(df_people, df_projects, on='Name', how='left')
df_left_join

26.25

      Name    Age City  Salary  Tax_Rate  Net_Salary Age_Group Project
0    Alice  25.00   NY   70000      0.10     63000.0     Young   Alpha
1      Bob  30.00   LA   85000      0.05     80750.0    Mature    Beta
2  Charlie  26.25   NY   60000      0.10     54000.0    Mature     NaN
3    David  22.00   SF   95000      0.05     90250.0     Young     NaN
4      Eve  28.00   LA   78000      0.05     74100.0    Mature   Gamma